<!doctype html>
<html lang="en">
  <head>
    <%- include ('./common/head.ejs') %>
    <title><%=title%></title>
</head>
  <body>
    <%- include ('./common/navbar.ejs') %>
    
    <h1 class="hello">This is Home page</h1>

  <%- include ('./common/footer.ejs') %>
   