<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <% const name = "Raj" %>
    <% if(true) {%>
    <h1 style="background-color: red;">Home  <%= name%></h1>
    <%} else {%>
        <h1>No page found</h1>
        <%}%>




        //*********************************//////


        <% for (let item of data) { %>

            <h1> <%= item.name %> </h1>
            <h3><%=item.age%></h3>
            <%}%>
</body>
</html>